/* main stuff */

body { 
  background-color: #000;
}

/*this defines everything*/

* {
	box-sizing:border-box;
}


/* this is the div ID of the content throughout the site*/

#content {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ; 
  background-color: #880088;
}
/* this is the div ID of the button that you click to come to the previous HTML file*/

#previous {
float: left;
width:50px;
height:50px;
background-color: #FFF;
position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto;
cursor:pointer;
}

/* this is the div ID of the button that you click to come to the next HTML file*/

#next {
float:left;
width:50px;
height:50px;
background-color: #FFF;
position: absolute;
    top:0;
    bottom: 0;
    right: 0px;
    margin: auto;
cursor:pointer;
}
 /* this is the div ID of the place where the IMAGE is*/
#pictured {
 float:left;
 width:0px auto;
 background-color: none;
 }
 /* this is the div ID of ONLY THE IMAGE */

 #pictured  img {
 float:left;
 margin-top:50px;
 }


